@media (min-width: $mobile-width) {
  .advantages__list {
    list-style: none;
  }

  .advantages__title {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 140.62%;
    color: #00b2ff;
  }
}
