.button {
  padding: 18px 0;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;


  background: #00b2ff;
  border-radius: 5px;
}
