.confidentiality {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 20px;
  width: 1412px;
}

.confidentiality__wrapper {
  display: flex;
}

.confidentiality__period {
  margin: 0;
  margin-right: 142px;

  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #1b2d37;

  opacity: 0.5;
}

.confidentiality__text {
  margin: 0;

  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #1b2d37;

  opacity: 0.5;

  &--protect {
    margin-right: 72px;
  }
}

@media (max-width: $tablet-width) {
  .confidentiality {
    position: relative;

    padding-top: 22px;
    padding-bottom: 20px;
    width: 100%;
  }

  .confidentiality__period {
    position: absolute;
    bottom: 392px;
    left: 302px;
  }

  .confidentiality__text {
    &--protect {
      display: none;
    }
  }
}

@media (max-width: $mobile-width) {
  .confidentiality {
    position: relative;

    flex-direction: column;

    padding-top: 28px;
    padding-bottom: 20px;
    width: 100%;
    border: none;
  }

  .confidentiality__wrapper {
    margin-bottom: 20px;
  }

  .confidentiality__period {
    position: absolute;
    bottom: 530px;
    width: 250px;
    left: 30px;
  }
}
