.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;

  @media (max-width: $tablet-width) {
    padding-right: 25px;
    padding-left: 25px;
  }

  @media (max-width: $mobile-width) {
    padding-right: 15px;
    padding-left: 15px;
  }
}
