.contacts {
  padding-top: 25px;
  padding-bottom: 27px;
  width: 335px;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
}

.contacts__title {
  position: relative;

  padding: 0;
  padding-left: 4px;
  margin: 0;
  margin-bottom: 25px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2d37;
}

.contacts__address {
  margin: 0;
  padding-left: 2px;

  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;

  opacity: 0.5;
}

.contacts__phone {
  padding-left: 2px;

  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  color: #1b2d37;

  opacity: 0.5;

  transition-duration: 0.3s;

  &:hover,
  :focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.contacts__toggle {
  display: none;
}

@media (max-width: $tablet-width) {
  .contacts {
    padding-top: 38px;
    padding-left: 0;
  }

  .contacts__title {
    padding-left: 2px;
  }

  .contacts__address {
    margin: 0;

    font-size: 15px;
    line-height: 25px;
    color: #1b2d37;

    opacity: 0.5;
  }

  .contacts__phone {
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
    color: #1b2d37;

    opacity: 0.5;
  }
}

@media (max-width: $mobile-width) {
  .contacts {
    position: relative;

    display: flex;
    flex-direction: column;

    padding-top: 28px;
    padding-bottom: 24px;

    cursor: pointer;
  }

  .contacts__title {
    padding-left: 2px;
    margin-bottom: 0;
  }

  .contacts__address {
    width: 230px;
  }

  .contacts__wrapper {
    display: none;

    padding-top: 30px;
  }

  .active {
    display: flex;

    &::after {
      position: absolute;
      content: "";
      top: 28px;
      left: 272px;

      width: 16px;
      height: 16px;

      background-image: url("../img/icon-minus.svg");
      background-repeat: no-repeat;
    }
  }

  .inactive {
    &::after {
      position: absolute;
      content: "";
      top: 25px;
      left: 272px;

      width: 16px;
      height: 16px;

      background-image: url("../img/icon-plus.svg");
      background-color: transparent;
    }
  }

  .wrp {
    display: none;
  }
}
