.feedback {
  overflow: hidden;

  padding-top: 94px;
  padding-bottom: 112px;

  background-color: #00b2ff;
  background-image: url("../img/paper-airplane@1x.png");
  background-position-y: -58px;
  background-position-x: -65px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/paper-airplane@2x.png");
    background-size: auto 764px;
  }
}

.feedback__wrapper {
  position: relative;

  padding-left: (598 / 1170) * 100%;
}

.feedback h2 {
  margin: 0;
  margin-bottom: 8px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
}

.feedback p {
  margin: 0;
  margin-bottom: 50px;
  padding-left: 4px;

  color: #ffffff;
}

.feedback__form {
  margin: 0;
  padding: 0;
  padding-left: 2px;
  width: 100%;

  list-style: none;
}

.feedback__form-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 100%;

  background-color: #00b2ff;
}

.feedback input {
  padding-top: 14px;
  padding-bottom: 18px;
  padding-left: 18px;
  width: (270 / 570) * 100%;

  background: rgba(255, 255, 255, 0.1);
  border: none;

  cursor: pointer;
  transition-duration: 0.3s;

  &:hover,
  :focus {
    outline-color: #ffffff;
    outline-style: auto;
    outline-width: 5px;
  }
}

.feedback textarea {
  padding-top: 13px;
  padding-bottom: 105px;
  padding-left: 18px;
  margin-bottom: 37px;
  width: 100%;

  background: rgba(255, 255, 255, 0.1);
  border: none;

  cursor: pointer;
  transition-duration: 0.3s;

  &:hover,
  :focus {
    outline-color: #ffffff;
    outline-style: auto;
    outline-width: 5px;
  }
}

.feedback input::placeholder,
.feedback textarea::placeholder {
  color: #ffffff;
}

.feedback input[type=text],
.feedback input[type=tel],
.feedback textarea[type=text] {
  color: #ffffff;
}

.feedback___form-button {
  display: flex;
  align-items: center;
  padding-left: 2px;
}

.feedback___form-button button {
  display: block;
  padding: 14px 0;
  margin-right: 70px;
  width: 270px;

  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;


  background: #00b2ff;
  border-radius: 5px;
  border: 1px solid #ffffff;

  cursor: pointer;
  transition-duration: 0.3s;

  &:hover,
  :focus {
    color: #00b2ff;

    background: #ffffff;
  }

  &:active {
    color: #ffffff;

    background-color: #1d91df;
  }
}

.feedback__form-agreement label {
  display: block;
  width: 230px;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.8;

  transform: translateY(-6px);
  transition-duration: 0.3s;

  &::before {
    position: relative;
    content: "";
    top: 17px;
    left: -32px;

    display: block;
    width: 16px;
    height: 16px;

    border: 1px solid white;

    transition-duration: 0.3s;
  }

  &:hover,
  :focus {
    text-decoration: underline;
    cursor: pointer;
  }
}

.feedback__form-agreement input:checked + label::before {
  background-image: url("../img/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9px 6px;
}


@media (max-width: $tablet-width) {
  .feedback {
    padding-top: 80px;
    padding-bottom: 102px;

    background-image: none;
  }

  .feedback__wrapper {
    max-width: 640px;
    margin: 0 auto;
    padding-left: 25px;
  }

  .feedback h2 {
    margin: 0;
    margin-bottom: 16px;

    font-size: 32px;
    line-height: 140.62%;
  }

  .feedback p {
    margin-bottom: 55px;
    padding-left: 2px;
  }

  .feedback__form {
    width: 592px;
  }

  .feedback__form-wrapper {
    margin-bottom: 42px;
  }

  .feedback input {
    padding-left: 18px;
    width: 280px;
  }

  .feedback textarea {
    padding-bottom: 110px;
    margin-bottom: 38px;
  }

  .feedback___form-button button {
    width: 280px;
  }
}

@media (max-width: $mobile-width) {
  .feedback {
    padding-top: 30px;
    padding-bottom: 37px;
  }

  .feedback__wrapper {
    width: 290px;
    margin: 0 auto;
    padding-left: 0;
  }

  .feedback h2 {
    margin-bottom: 14px;
    width: 250px;

    font-size: 28px;
    font-weight: normal;
  }

  .feedback p {
    margin-bottom: 25px;
    padding-left: 0;
  }

  .feedback__form {
    padding-left: 0;
    width: 290px;
  }

  .feedback__form-wrapper {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .feedback__form-wrapper input {
    width: 290px;
    margin-bottom: 32px;
  }

  .feedback textarea {
    padding-bottom: 55px;
    margin-bottom: 25px;
  }

  .feedback___form-button {
    flex-wrap: wrap;
    width: 290px;
  }

  .feedback___form-button button {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .feedback___form-button label {
    padding-left: 30px;
  }
}
