.feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 40;

  width: 490px;
  padding: 30px 40px;
  height: 605px;

  background-color: #00b2ff;

  transform: translate(-50%, -50%);
}

.feedback__title {
  margin: 0;
  margin-bottom: 12px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 28px;
  line-height: 140.62%;
  color: #ffffff;
}

.feedback__text {
  margin: 0;
  margin-bottom: 32px;
  width: 380px;

  color: #ffffff;
}

.feedback__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.feedback__item {
  margin-bottom: 30px;

  &--textarea {
    margin-bottom: 24px;
  }
}

.feedback__input-text {
  padding-top: 16px;
  padding-bottom: 18px;
  padding-left: 25px;
  width: 411px;

  background: rgba(255, 255, 255, 0.1);
  border: none;
}

.feedback__textarea {
  padding-top: 13px;
  padding-bottom: 56px;
  padding-left: 25px;
  width: 411px;

  background: rgba(255, 255, 255, 0.1);
  border: none;
}

.feedback__input-text::placeholder,
.feedback__textarea::placeholder {
  color: #ffffff;
}

.feedback__consent-wrapper {
  padding-left: 2px;
}

.feedback__button {
  padding: 14px 0;
  margin-bottom: 34px;
  margin-right: 35px;
  width: 100%;

  font-size: 14px;
  line-height: 16px;
}

.feedback__consent {
  position: relative;

  margin: 0;
  padding-left: 46px;
  width: 400px;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  opacity: 0.8;

  &::before {
    position: absolute;
    content: "";
    top: 2px;
    left: -2px;

    width: 17px;
    height: 16px;

    border: 1px solid #ffffff;
  }

  &::after {
    position: absolute;
    content: "";
    top: 5px;
    left: 2px;

    width: 10px;
    height: 8px;

    background-image: url("../img/icon-check.svg");
  }
}

.feedback__close {
  position: absolute;
  content: "";
  top: 20px;
  right: 20px;

  width: 16px;
  height: 16px;

  background-image: url("../img/icon-close.svg");
  cursor: pointer;
}
