.form-question {
  padding-top: 92px;
  padding-bottom: 80px;

  background: #00b2ff;
}

.form-question__wrapper {
  position: relative;

  max-width: 1170px;
  padding-left: 598px;

  &::after {
    position: absolute;
    content: "";
    top: -150px;
    left: -375px;

    width: 1000px;
    height: 1000px;

    background-image: url("../img/paper-airplane@1x.png");
    background-repeat: no-repeat;
  }
}

.form-question__title {
  margin: 0;
  margin-bottom: 10px;
  width: 550px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
}

.form-question__text {
  margin: 0;
  margin-bottom: 50px;
  padding-left: 2px;

  color: #ffffff;
}

.form-question__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 570px;

  list-style: none;
}

.form-question__item {
  margin-bottom: 40px;

  &--firstname {
    margin-right: 30px;
  }

  &--textarea {
    margin-bottom: 38px;
  }
}

.form-question__input-text {
  padding-top: 14px;
  padding-bottom: 18px;
  padding-left: 19px;
  width: 270px;

  background: rgba(255, 255, 255, 0.1);
  border: none;
}

.form-question__textarea {
  padding-top: 13px;
  padding-bottom: 105px;
  padding-left: 18px;
  width: 570px;

  background: rgba(255, 255, 255, 0.1);
  border: none;
}

.form-question__input-text::placeholder,
.form-question__textarea::placeholder {
  color: #ffffff;
}

.form-question__consent-wrapper {
  display: flex;
  padding-left: 2px;
}

.form-question__button {
  padding: 14px 0;
  margin-bottom: 30px;
  margin-right: 35px;
  width: 270px;

  font-size: 14px;
  line-height: 16px;
}

.form-question__consent {
  position: relative;

  margin: 0;
  padding-left: 35px;
  padding-top: 8px;
  width: 240px;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  opacity: 0.8;

  &::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 2px;

    width: 17px;
    height: 16px;

    border: 1px solid #ffffff;
  }

  &::after {
    position: absolute;
    content: "";
    top: 12px;
    left: 6px;

    width: 10px;
    height: 8px;

    background-image: url("../img/icon-check.svg");
  }
}

@media (max-width: $tablet-width) {
  .form-question {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .form-question__wrapper {
    padding-left: 25px;

    &::after {
      display: none;
    }
  }

  .form-question__title {
    margin: 0;
    margin-bottom: 10px;

    font-size: 32px;
    line-height: 140.62%;
  }

  .form-question__text {
    margin: 0;
    margin-bottom: 50px;
    padding-left: 2px;

    color: #ffffff;
  }

  .form-question__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 570px;

    list-style: none;
  }

  .form-question__item {
    margin-bottom: 40px;

    &--firstname {
      margin-right: 30px;
    }

    &--textarea {
      margin-bottom: 38px;
    }
  }

  .form-question__input-text {
    padding-top: 14px;
    padding-bottom: 18px;
    padding-left: 19px;
    width: 270px;

    background: rgba(255, 255, 255, 0.1);
    border: none;
  }

  .form-question__textarea {
    padding-top: 13px;
    padding-bottom: 105px;
    padding-left: 18px;
    width: 570px;

    background: rgba(255, 255, 255, 0.1);
    border: none;
  }

  .form-question__input-text::placeholder,
  .form-question__textarea::placeholder {
    color: #ffffff;
  }

  .form-question__consent-wrapper {
    display: flex;
    padding-left: 2px;
  }

  .form-question__button {
    padding: 14px 0;
    margin-bottom: 30px;
    margin-right: 35px;
    width: 270px;

    font-size: 14px;
    line-height: 16px;
  }

  .form-question__consent {
    position: relative;

    margin: 0;
    padding-left: 35px;
    padding-top: 8px;
    width: 240px;

    font-size: 14px;
    line-height: 16px;
    color: #ffffff;

    opacity: 0.8;

    &::before {
      position: absolute;
      content: "";
      top: 8px;
      left: 2px;

      width: 17px;
      height: 16px;

      border: 1px solid #ffffff;
    }

    &::after {
      position: absolute;
      content: "";
      top: 12px;
      left: 6px;

      width: 10px;
      height: 8px;

      background-image: url("../img/icon-check.svg");
    }
  }
}
