.history {
  position: relative;

  padding-top: 58px;
  padding-left: 180px;
  padding-right: 10px;
  padding-bottom: 110px;
  max-width: 1170px;

  &::before {
    position: absolute;
    content: "";
    top: 55px;
    left: -29px;
    z-index: -1;

    width: 220px;
    height: 317px;

    background-image: url("../img/2005@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      height: 420px;

      background-image: url("../img/2005@2x.png");
      background-size: 210px 323px;
    }
  }
}

.history h2 {
  z-index: 10;

  padding: 0;
  margin: 0;
  margin-bottom: 19px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  line-height: 51px;
}

.history p {
  z-index: 10;

  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.history a {
  display: block;
  padding: 14px 0;
  width: 180px;
  margin-top: 38px;

  font-size: 14px;
  line-height: 16px;
  color: #00b2ff;
  text-decoration: none;

  border: 1px solid #00b2ff;
  border-radius: 5px;
  background-color: #ffffff;
}

@media (max-width: $tablet-width) {
  .history {
    padding-top: 10px;
    padding-left: 210px;
    padding-bottom: 84px;

    &::before {
      top: 8px;
      left: 0;
      z-index: 1;

      width: 251px;
      height: 362px;

      background-image: url("../img/2005-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/2005-tablet@2x.png");
        background-size: 97%;
      }
    }
  }


  .history h2 {
    margin-bottom: 26px;

    font-size: 32px;
    line-height: 140.62%;
  }

  .history p {
    padding-left: 2px;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  .history span {
    position: relative;

    font-size: 0;

    &::after {
      position: absolute;
      content: "..";
      bottom: -6px;
      left: -10px;

      font-family: "PT Mono", "Arial", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #666666;
    }
  }

  .history a {
    display: block;
    padding: 14px 0;
    margin-top: 35px;
    width: 182px;

    font-size: 14px;
    line-height: 16px;
    color: #00b2ff;
    text-decoration: none;

    border: 1px solid #00b2ff;
    border-radius: 5px;
    background-color: #ffffff;
  }
}

@media (max-width: $mobile-width) {
  .history {
    padding-left: 15px;
    padding-bottom: 65px;
    width: 320px;

    &::before {
      display: none;
    }
  }

  .history h2 {
    margin-bottom: 20px;

    font-size: 28px;
  }

  .history p {
    padding-left: 2px;
    margin-bottom: 40px;
    padding-right: 0;
  }

  .history span {
    white-space: nowrap;
  }

  .history a {
    margin-top: -17px;
    padding: 13px 0;
    width: 180px;
  }
}
