.history {
  position: relative;

  padding-top: 60px;
  padding-left: 180px;
  padding-bottom: 108px;
  max-width: 1170px;

  &::before {
    position: absolute;
    content: "";
    top: 62px;
    left: -29px;
    z-index: -1;

    width: 200px;
    height: 325px;

    background-image: url("../img/date-desktop.jpg");
    background-repeat: no-repeat;
  }
}

.history__title {
  z-index: 10;

  padding: 0;
  margin: 0;
  margin-bottom: 19px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  line-height: 51px;
}

.history__text {
  z-index: 10;

  padding: 0;
  margin: 0;
  margin-bottom: 22px;
  width: 980px;

  &--second {
    margin-bottom: 38px;
  }
}

.history__button {
  display: block;
  padding: 14px 0;
  width: 180px;

  font-size: 14px;
  line-height: 16px;
  color: #00b2ff;
  text-decoration: none;

  border: 1px solid #00b2ff;
  border-radius: 5px;
  background-color: #ffffff;
}
