.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1412px;
  width: 100%;
}

.main-nav__logo-wrapper {
  display: flex;
  align-items: center;
  padding-top: 34px;
  width: 25.283%;
}

.main-nav__logo {
  margin-right: 17px;
  padding-top: 0;
  padding-left: 2px;
}

.main-nav__logo-title {
  margin-right: 119px;
}

.main-nav__title {
  margin: 0;
  margin-bottom: -4px;
  padding-top: 2px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
}

.main-nav__text {
  margin: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #788891;
}

.main-nav__toggle {
  position: relative;

  padding-top: 18px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;

    width: 37px;
    height: 13px;

    background-image: url("../img/icon-menu.svg");
    background-repeat: no-repeat;
  }
}
