.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1412px;
  width: 100%;
}

.main-nav__logo-wrapper {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding-top: 34px;
}

.main-nav__logo-icon {
  margin-right: 8px;
}

.main-nav__logo-link {
  margin-right: 116px;
}

.main-nav__toggle {
  padding-top: 18px;
  width: 37px;
  height: 13px;

  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
}

@media (max-width: $tablet-width) {
  .main-nav {
    position: relative;
    max-width: 720px;
  }

  .main-nav__logo-wrapper {
    padding-top: 20px;
  }

  .main-nav__toggle {
    position: absolute;
    top: 38px;
    right: 120px;
  }
}

@media (max-width: $mobile-width) {
  .main-nav {
    width: 290px;
  }

  .main-nav__logo-wrapper {
    padding-top: 18px;
    width: 13.104%;
  }

  .main-nav__logo-icon {
    width: 38px;
    height: 38px;
  }

  .main-nav__logo-icon-second {
    display: none;
  }

  .main-nav__toggle {
    top: 27px;
    right: 100px;
  }
}
