.navigation {
  padding-top: 25px;
  padding-bottom: 27px;
  width: 520px;
}

.navigation__title {
  position: relative;

  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2d37;
}

.navigation__list-wrapper {
  display: flex;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-right: 48px;
  width: 520px;

  list-style: none;
}

.navigation__item {
  width: 260px;
}

.navigation__link {
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  color: #1b2d37;

  opacity: 0.5;

  transition-duration: 0.3s;

  &:hover,
  :focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.navigation__toggle {
  display: none;
}

@media (max-width: $tablet-width) {
  .navigation {
    margin-right: 130px;
    padding-top: 38px;
    padding-bottom: 5px;
    width: 245px;
  }

  .navigation__title {
    padding-left: 2px;
  }

  .navigation__list-wrapper {
    display: flex;
    flex-direction: column;
  }

  .navigation__list {
    width: 520px;
  }
}

@media (max-width: $mobile-width) {
  .navigation {
    position: relative;
    padding-top: 28px;
    padding-bottom: 26px;

    cursor: pointer;

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: -100%;

      width: 3000px;
      height: 1px;

      background-color: rgba(98, 105, 98, 0.2);
    }
  }

  .navigation__title {
    padding-left: 2px;
    margin-bottom: 0;
  }

  .navigation__list-wrapper {
    display: none;
    padding-top: 30px;
  }

  .active {
    display: flex;

    &::after {
      position: absolute;
      content: "";
      top: 28px;
      left: 272px;

      width: 16px;
      height: 16px;

      background-image: url("../img/icon-minus.svg");
      background-repeat: no-repeat;
    }
  }

  .inactive {
    &::after {
      position: absolute;
      content: "";
      top: 35px;
      left: 272px;

      width: 16px;
      height: 2px;

      background-image: url("../img/icon-plus.svg");
    }
  }
}
