.navigation {
  padding-top: 25px;
  padding-bottom: 27px;
  width: 520px;
}

.navigation__title {
  position: relative;

  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2d37;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 520px;

  list-style: none;
}

.navigation__item {
  width: 260px;
}

.navigation__link {
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  color: #1b2d37;
  opacity: 0.5;
}

@media (max-width: $tablet-width) {
  .navigation {
    margin-right: 130px;
    padding-top: 38px;
    padding-bottom: 5px;
    width: 245px;
  }

  .navigation__title {
    padding-left: 2px;
  }

  .navigation__list {
    display: flex;
    flex-direction: column;
    width: 520px;
  }
}

@media (max-width: $mobile-width) {
  .navigation {
    position: relative;

    padding-top: 28px;
    padding-bottom: 28px;

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: -95px;

      width: 200%;
      height: 1px;

      background-color: rgba(98, 105, 98, 0.2);
    }
  }

  .navigation__list {
    display: none;
  }

  .navigation__title {
    padding-left: 2px;
    margin-bottom: 0;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 272px;

      width: 16px;
      height: 16px;

      background-image: url("../img/icon-plus.svg");
    }
  }
}
