.page-footer {
  padding-top: 40px;

  overflow: hidden;
}

.page-footer__wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  max-width: 1412px;
  margin: 0 auto;

  &::after {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 50%;
    right: 50%;

    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    height: 1px;

    background-color: rgba(98, 105, 98, 0.2);
  }
}

.page-footer__top {
  display: flex;
  flex-wrap: wrap;
  width: 288px;
}

.page-footer__logo-link {
  padding-top: 25px;
  margin-bottom: 12px;
}

.page-footer__period {
  display: none;

  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #1b2d37;

  opacity: 0.5;
}

@media (max-width: $tablet-width) {
  .page-footer {
    padding-top: 0;
  }

  .page-footer__wrapper {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 30px;
    max-width: 720px;
  }

  .page-footer__top {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    max-width: 720px;
    width: 100%;

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 50%;
      right: 50%;

      margin-left: -50vw;
      margin-right: -50vw;
      width: 100vw;
      height: 1px;

      background-color: rgba(98, 105, 98, 0.2);
    }
  }

  .page-footer__logo-link {
    padding-top: 20px;
  }
}

@media (max-width: $mobile-width) {
  .page-footer__wrapper {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0;
    width: 290px;

    &::after {
      display: none;
    }
  }

  .page-footer__top {
    justify-content: center;
    flex-direction: column;
    padding-bottom: 48px;
    padding-top: 45px;
  }

  .page-footer__logo-link {
    padding-top: 0;
    margin-bottom: 8px;
  }

  .page-footer__period {
    display: block;
    margin-bottom: 28px;
  }
}
