.page-header {
  padding-right: 15px;
  padding-left: 15px;

  background-color: #c4c4c4;
  background-image: url("../img/fond-header-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}
