.page-header {
  position: relative;
  z-index: -2;

  display: flex;
  flex-direction: column;
  padding-bottom: 275px;

  background-color: #1b2d37;
  background-image: url("../img/fond-header-desktop.png");
  background-repeat: no-repeat;

  &::after {
    position: absolute;
    content: "";
    top: 260px;
    left: 800px;
    z-index: -1;

    width: 705px;
    height: 515px;

    background-image: url("../img/board-desktop.png");
    background-repeat: no-repeat;
  }
}
