.page-header {
  position: relative;
  z-index: 5;

  display: flex;
  flex-direction: column;
  padding-bottom: 275px;

  background-color: #1b2d37;
  background-image: url("../img/main-bg-desktop@1x.png");
  background-size: auto 878px;
  background-position-x: -240px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/main-bg-desktop@2x.png");
  }

  &::after {
    position: absolute;
    content: "";
    top: 260px;
    left: 800px;
    z-index: -1;

    width: 705px;
    height: 515px;

    background-image: url("../img/main-bg2-desktop@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-bg2-desktop@2x.png");
      background-size: auto 515px;
    }
  }
}

@media (max-width: $tablet-width) {
  .page-header {
    padding-bottom: 165px;

    background-image: url("../img/main-bg-tablet@1x.png");
    background-size: auto auto;
    background-position-y: -5px;
    background-position-x: -372px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-bg-tablet@2x.png");
      background-size: auto 690px;
    }

    &::after {
      top: 115px;
      left: 510px;

      width: 465px;
      height: 340px;

      background-image: url("../img/main-bg2-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/main-bg2-tablet@2x.png");
        background-size: auto 340px;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    padding-bottom: 70px;

    background-image: url("../img/main-bg-mobile@1x.png");
    background-size: auto auto;
    background-position-y: -15px;
    background-position-x: -625px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-bg-mobile@2x.png");
      background-size: auto 664px;
    }

    &::after {
      top: 90px;
      left: 25px;

      width: 301px;
      height: 220px;

      background-image: url("../img/main-bg2-mobile@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/main-bg2-mobile@2x.png");
        background-size: auto 220px;
      }
    }
  }
}
