.service {
  padding-top: 90px;
  padding-bottom: 53px;

  background: #1b2d37;
}

.service__title {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
}

.service__list {
  display: flex;
  list-style: none;
  padding: 0;
}

.service__item {
  position: relative;

  margin-bottom: 30px;
  margin-right: 2.564%;
  width: 100%;
}


.service__link {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;

  text-decoration: none;
}

.service__text {
  position: absolute;
  top: 0;
  left: 0;

  padding: 0;
  padding-top: 50px;
  padding-left: 45px;
  padding-right: 20px;
  margin: 0;
  width: 250px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;

  &--component {
    width: 220px;
  }
}

.service__button {
  border: none;
  background: transparent;

  &::before {
    position: absolute;
    content: "";

    bottom: 28px;
    right: 0;

    width: 63px;
    height: 63px;

    background: #00b2ff;
    border: none;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 56px;
    right: 25px;

    width: 8px;
    height: 8px;

    background-image: url("../img/icon-vector.svg");
    background-repeat: no-repeat;
  }
}
