.user-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-list__item {
  margin: 0;
  padding: 0;
  padding-top: 28px;
  white-space: nowrap;

  &--envelope {
    margin-right: 88px;
  }

  &--phone {
    margin-right: 49px;
  }
}

.user-list__link {
  display: flex;

  text-decoration: none;

  transition-duration: 0.3s;

  &:hover,
  :focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  &--call {
    display: block;
    padding: 13px 0;
    width: 180px;

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    text-decoration: none;

    background: none;
    border: 1px solid #ffffff;
    border-radius: 5px;

    &:hover,
    :focus {
      outline: none;

      border-color: #00b2ff;
    }

    &:active {
      border-color: #1d91df;
    }
  }
}

.user-list__icon {
  margin-right: 20px;

  &--phone {
    margin-right: 15px;
  }
}

.user-list__text {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

@media (max-width: $tablet-width) {
  .user-list {
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 11.528%;
  }

  .user-list__text {
    display: none;
  }

  .user-list__item {
    margin-right: 30px;
    padding-top: 13px;
  }

  .user-list__icon {
    width: 26px;
    height: 19px;
    margin-right: 0;

    &--phone {
      width: 24px;
      height: 24px;
    }
  }

  .user-list__link {
    &--call {
      display: none;
    }
  }
}

@media (max-width: $mobile-width) {
  .user-list {
    width: 25.172%;
  }

  .user-list__item {
    margin-right: 20px;
    padding-top: 5px;
  }
}
